<div class="left-inner-addon ">
    <i class="fa fa-search fa-lg"></i>
    <input type="search" class="form-control input-lg" placeholder="Search" />
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Year</th><th>Name</th><th>Location</th><th>Date</th>
        </tr>
    </thead>
    <tr ng-repeat="event in events" ng-click="goTo(id)" style="cursor:pointer">
        <td>{{event.hash.year}}</td><td>{{event.hash.short_name}} {{event.has.event_type_string}}</td><td>{{event.hash.location}}</td><td>{{event.hash.start_date}}</td>
    </tr>
</table>
