<a href="#/teams/new" class="btn btn-primary btn-lg btn-block">Add a new team</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th><th>Name</th><th>Long Name</th><th>Location</th>
        </tr>
    </thead>
    <tr ng-repeat="(number,details) in teams" ng-click="goTo(number)" style="cursor:pointer">
        <td>{{number}}</td><td>{{details.nickname}}</td><td>{{details.name}}</td><td>{{details.location.locality}}, {{details.location.region}}, {{details.location.country}}</td>
    </tr>
</table>
